h1 {
  text-align: center;
  color: rgb(179, 90, 179);
  font-family: cursive;
}

.container {
  border-style: double;
}

.blackbox {
  display: flex;
  background-color: rgb(223, 208, 208);
}

.purplebox {
  display: flex;
  background-color: rgb(206, 105, 139);
  color: white;
  justify-content: center;
  align-items: center;
  font-family: cursive;
}
